target/classes/customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="customer-api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="customer-api-config" raml="customer-api.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false"/>
    <api-platform-gw:api apiName="groupId:5f8256e9-0103-41f2-85d7-0ba0381b2fb9:assetId:customer-api" version="1:15678375" flowRef="post:/customers:application/json:customer-api-config" create="true" apikitRef="customer-api-config" doc:name="API Autodiscovery"/>
    <flow name="customer-api-main">
        <http:listener config-ref="customer-api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="customer-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="customer-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="customer-api-console">
        <http:listener config-ref="customer-api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="customer-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="patch:/customers/{customerId}:customer-api-config">
        <flow-ref name="update-customerFlow" doc:name="update-customer-flow"/>
        <exception-strategy ref="customer-apiChoice_Exception_Strategy" doc:name="Reference Exception Strategy"/>

    </flow>
    <flow name="delete:/customers/{customerId}:customer-api-config">
        <flow-ref name="delete-customerFlow" doc:name="delete-customer-flow"/>
        <exception-strategy ref="customer-apiChoice_Exception_Strategy" doc:name="Reference Exception Strategy"/>

    </flow>
    <flow name="get:/customers:customer-api-config">
        <flow-ref name="get-customersFlow" doc:name="get-customer-flow"/>
        <exception-strategy ref="customer-apiChoice_Exception_Strategy" doc:name="Reference Exception Strategy"/>

    </flow>
    <flow name="post:/customers:application/json:customer-api-config">
        <flow-ref name="addcustomerFlow" doc:name="add-customer-flow"/>
        <exception-strategy ref="customer-apiChoice_Exception_Strategy" doc:name="Reference Exception Strategy"/>

    </flow>
    <apikit:mapping-exception-strategy name="customer-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
    <choice-exception-strategy name="customer-apiChoice_Exception_Strategy">
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="#[{&quot;message&quot;: &quot;failed&quot;}]" mimeType="application/json" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </choice-exception-strategy>
</mule>
